<h2><%= @cocktail.name %></h2>

 <div>
 	<% @cocktail.doses.each do |dose| %>
  <ul>
  	
  	<li>
  		<%= dose.ingredient.name %> : <%= dose.description %> 
  		<button type="button" class="btn btn-success"><%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></button>

  	 </li>
</ul>
 </div>
<% end %>  


<button type="button" class="btn btn-success"><%= link_to "See all Cocktails", cocktails_path %></button>
<button type="button" class="btn btn-success"><%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %></button>
