<h2><%= @cocktail.name %></h2>


   <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all cocktails", cocktails_path %>

